= link_to "Add a Movie", new_movie_entry_path
%p= current_user.username
%table.library
  %thead
    %tr
      %th Title
    %tr
      %th My Rating
  %tbody
    - @movie_entry.each do |movie_entry|
      %tr
        %td= movie_entry.movie.title
      %tr
        %td= movie_entry.user_rating