.row
  .small-offset-3.small-9.columns
    %h2.subheader Add a Movie
  = simple_form_for @movie_entry do |f|
    .inputs
      .row
        .small-offset-3.small-6.columns
          = f.input_field :seen, as: :boolean, inline_label: 'Seen'
    .actions
      .row
        .small-offset-3.small-3.columns
          = f.button :submit, 'Save', class: 'button tiny radius'
