.row
  .small-12.columns
    %h1.subheader Splat reporT
.row
  .small-12.columns
    %table.splat
      %thead
        %tr
          %th Title
          %th My Rating
          %th Critic Rating
          %th Rating Difference
      %tbody
        - @movie_entries.each do |movie_entry|
          %tr
            %td= movie_entry.movie.title
            %td= movie_entry.user_rating
            %td= movie_entry.movie.tomato_meter